
  /* Styles pour le mode sombre */
  body {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  h4{
    display: flex;
    justify-content: center;
  }

  #profileContent {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;
    justify-content: space-between;
    max-width: 100%;
    border: none;
  }
